{% extends "contenido/cuerpo.html" %}

{%block titulo%} HOME {%endblock%}

{% block contenedor %}
{%load static%}
<section class="py-3 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light fst-italic">Opiniones</h1>
  </div>
    </div>
  </section>
  <form action="{%url 'Opinion'%}" method="POST" role="form">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" name="usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Comentario</label>
      <input type="text" name="comentario" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  <br>
  <main>
    <h2 class="display-6 text-center mb-4">Comentarios</h2>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {%for opinion in opinion%}

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{opinion.usuario}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <p>{{opinion.comentario}}</p>
            </ul>
            <div class="mt 3">
                <button type="button" class="w-50 btn btn-lg btn-outline-primary"><a class="text-dark" style="text-decoration:none" href=" {%url 'Editar' opinion.id%}"> Editar</a></button> <br>
                <br>
                <button type="button" class="w-50 btn btn-lg btn-outline-danger"><a href="{%url 'Eliminar' opinion.id%}" class="text-dark" style="text-decoration:none">Eliminar</a></button>
            </div>

          </div>
        </div>
      </div>

      {%endfor%}
    </div>
  </main>
{% endblock %}
